.pets-gallery {
  font-family: 'Inconsolata', monospace;
}

.pets-images {
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: 3px 3px 0px #cc8c8c;
}

.cats-photos-overlay-Harmony,
.cats-photos-overlay-Artichoke,
.cats-photos-overlay-Snickers {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: .5s ease;
  color: #ffffff;
  height: 30px;
  text-align: center;
  padding-top: 5px;
}

.cats-photos-overlay-Harmony {
  background-color: #ce71bb;
}

.cats-photos-overlay-Artichoke {
  background-color: #718ece;
}

.cats-photos-overlay-Snickers {
  background-color: #c9ce71;
}

.cats-photos-list:hover .cats-photos-overlay-Harmony,
.cats-photos-list:hover .cats-photos-overlay-Artichoke,
.cats-photos-list:hover .cats-photos-overlay-Snickers {
  opacity: 0.8;
}

.list-gallery {
  list-style-type: none;
  background-color: #f2f0e8;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 1px #989898;
}

.cats-photos-list {
  margin-top: 20px;
  position: relative;
  filter: grayscale(10);
}

.cats-photos-list:hover {
  margin-left: 5px;
  margin-right: -5px;
  filter: grayscale(0);
}
