body {
  margin: 0;
}
blockquote {
  display: inline;
  margin: 0;
  width: 100%;
}
header {
    overflow: hidden;
}

.header__q {
  max-width: 360px;
  position: relative;
  align-self: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
  padding-bottom: 5px;
  margin-bottom: 70px;
}

@keyframes blockquote {
  0% {left: 100%;}
  75% {left: -10px;}
  100% {left: -10px;}

}

.header__quote {
  width: 100%;
  position: absolute;
  background-color: #E5CEDC;
  border-left: 4px solid #6d5b61;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 20px;
  align-self: flex-end;
  animation-name: blockquote;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;

}

.header__quote__text {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.header__quote__footer {
  width: 100%;
  font-style: italic;
  margin-bottom: 5px;
  margin-left: 250px;
}

@keyframes background-animation {
  0% {background-image: url(../images/0001.jpg);}
  25% {background-image: url(../images/0002.jpg);}
  50% {background-image: url(../images/0003.jpg);}
  75% {background-image: url(../images/0004.jpg);}
}

.header {
  width:100%;
  background-color: #000000;
  height: 200px;
  position: relative;
  background-image: url(../images/0001.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  animation-name: background-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.header__h1 {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  background-color: #000000;
  height: 24px;
  margin-left: 20px;
}

.index {
  text-decoration: none;
}

.navigation {
  background-color: #000000;
  display: flex;;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 2px 2px 8px #000000;
}

.navigation_link {
  padding: 3px 30px;
  font-family: 'Cutive Mono', monospace;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-left: 2px solid #ffffff;
}


.navigation_link:last-child {
  border-right: 2px solid #ffffff;
}

.navigation_link:hover, .navigation_link-active {
  color: #000000;
  background-color: #ffffff;
  border-left: 2px solid #000000;
}

.main{
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main__section1 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.main__section1__text{
  width: 40%;
  flex-grow: 1;
  background-color: #BCA3AC;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 4px 4px 0px #333333;
}

.articles {
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Cutive Mono', monospace;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  background-color: #000000;
}

.articles:hover {
  background-color: #ffffff;
  color: #000000;
}

.stay_tuned {
  text-align: right;
  font-weight: bold;
  font-style: italic;
}

.main__section__picture {
  background-image: url(../images/space.jpg);
  background-position: center;
  background-size: cover;
  width: 40%;
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 0px #000000;
  min-height: 240px;
}

.main__section__picture-container {
  position: relative;
  background-color: #8F9491;
  opacity: 0.9;
  padding: 10px;
  border-radius: 2px;
}

.main__section__picture__link {
  text-decoration: none;
  color:#000000;
  margin: 0;
}

.main__section__picture__link-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  color:#8F9491;
  margin: 0;
}

.main__section__picture-container:hover .main__section__picture__link-overlay {
  opacity: 1;
}


h3 {
  margin: 0;

}

.main__section1__h2 {
  text-decoration: underline;
  text-decoration-color: #392a31;
}

.main__section2 {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #8F9491;
  box-shadow: 4px 4px 0px #333333;
  padding: 20px;

}

.main__section2__topics {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main__section2 a{
  margin: 20px;
  color: #000000;
  text-decoration: none;
}

.main__section2__topic {
  display: flex;
  flex-flow: column;
  background-color: #E5CEDC;
  transition: transform .2s;
}

.main__section2__topic:hover {
  transform: scale(1.1);
}


.main__section2__topic p {
  padding-left: 10px;
}

.main__section2__images {
  height: 200px;
  width: 200px;
  object-fit: cover;

}

.main__section2__h2 {
  text-decoration: underline;
  text-decoration-color: #E5CEDC;
  padding-left: 30px;
}

.main__section3 {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  background-color: #201e1e;
  padding: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 0px #8F9491;
}

.main__section3__animation {
  background-image: url(../images/moon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 455px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 50px;
  position: relative;
}

@keyframes rocket {
  0% {top: 500px; right: 600px;}
  70% {top: 8.33%; right: 13.18%;}
  90% {top: 8.33%; right: 13.18%;}
  100% {top: -150px; right: -150px;}

}

.rocket-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  animation-name: rocket;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: absolute;
}

.main__section3__contact-details {
  width: 40%;
  flex-grow: 1;
  background-color: #E5CEDC;
  margin: 20px;
  padding: 20px;
  padding-right: 0;
  box-shadow: 4px 4px 0px #8F9491;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.end-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #8F9491;
  margin-right: 20px;
}


.main__section3__contact-details-info {
  flex-grow: 1;
  width: 150px;
  display: flex;
  flex-flow: column;
  margin-right: 20px;
  background-color: #BCA3AC;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #8F9491;
  min-height: 200px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  text-decoration: overline;
  text-decoration-line: overline;
  text-decoration-color: #BCA3AC;
}

.footer__tip h2 {
  margin: 0;
}
